{% extends 'layout.html.twig' %}

{% block content %}

<p>Tu as récolté</p>
    <ul>

        <li>{{ randomTresRare }} {{ name1.name }}</li>

        <li>{{ randomRare }} {{ name2.name }}</li>


        <li>{{ randomCommun }} {{ name3.name }}</li>


    </ul>



{% endblock %}