{% extends 'layout.html.twig' %}

{% block content %}

<p>Tu as récolté</p>
    <ul>

        <li>{{ random1 }} {{ name1.name }}</li>

        <li>{{ random2 }} {{ name2.name }}</li>


        <li>{{ random3 }} {{ name3.name }}</li>


    </ul>


{% endblock %}